---
import BaseLayout from './BaseLayout.astro';
import type { ImageMetadata } from 'astro';
import TableOfContents from '~/components/TableOfContents.astro';
import BlogPostNavigation from '~/components/BlogPostNavigation.astro';
import ShareButtons from '~/components/ShareButtons.astro';
import MobileTableOfContents from '~/components/MobileTableOfContents.astro';
import type { BreadcrumbItem } from '~/components/Breadcrumb.astro';
import type { BlogPostPage } from '~/lib/blog';

export interface Props {
	postPage: BlogPostPage;
	breadcrumbItems: BreadcrumbItem[];
}

const { postPage, breadcrumbItems } = Astro.props;

const metadata = {
	title: postPage.seoTitle,
	description: postPage.seoDescription,
	image: {
		url: (postPage.cover as ImageMetadata).src,
		width: (postPage.cover as ImageMetadata).width,
		height: (postPage.cover as ImageMetadata).height,
	},
	og: {
		type: 'article' as const,
		article: {
			publishedTime: postPage.publishedAt.toISOString(),
			modifiedTime: postPage.publishedAt.toISOString(),
			author: 'Jannik Wempe',
			section: 'Web Development',
		},
	},
};

const hasTweetEmbed = Boolean(postPage.body?.includes('<Tweet'));
---

<BaseLayout {metadata} {breadcrumbItems}>
	<Fragment slot="header">
		<!-- Transforms basic Tweet embeds into interactive widgets -->
		<!-- see https://astro-embed.netlify.app/components/twitter/  -->
		{hasTweetEmbed && <script is:inline async src="https://platform.twitter.com/widgets.js" />}
	</Fragment>

	<div class="container mx-auto py-3">
		<div class="flex gap-20">
			<!-- match prose max-w, otherwise image etc. may be wider (at least on Firefox) -->
			<main class="max-w-prose text-lg">
				<slot name="header" />
				<!-- Mobile TOC -->
				<div class="mt-8 xl:hidden">
					<MobileTableOfContents headings={postPage.headings} />
				</div>
				<slot />
				<div class="mt-16 flex flex-col gap-8">
					<hr class="border-slate-200 xl:hidden" />
					<ShareButtons url={Astro.url.toString()} title={postPage.title} class="self-center text-center xl:hidden" />
					<hr class="border-slate-200" />
					<BlogPostNavigation previousPost={postPage.navigation.previous} nextPost={postPage.navigation.next} />
				</div>
			</main>
			<div class="relative hidden xl:block">
				<aside class="sticky top-24 flex max-h-[calc(100vh-8rem)] flex-col gap-8">
					<TableOfContents headings={postPage.headings} class="w-80" />
					<hr class="border-slate-200" />
					<ShareButtons url={Astro.url.toString()} title={postPage.title} class="hidden xl:block" />
				</aside>
			</div>
		</div>
	</div>
</BaseLayout>
