---
import BaseLayout from './BaseLayout.astro';
import type { MarkdownHeading } from 'astro';
import TableOfContents from '~/components/TableOfContents.astro';
import TableOfContentsDrawer from '~/components/TableOfContentsDrawer.astro';
import type { CollectionEntry } from 'astro:content';
import BlogPostJsonLd from '~/components/BlogPostJsonLd.astro';
import BlogPostNavigation from '~/components/BlogPostNavigation.astro';
import ShareButtons from '~/components/ShareButtons.astro';
import { getCollection } from 'astro:content';
import { newestFirst } from '~/lib/blog';

export interface Props {
	post: CollectionEntry<'blog'>;
	headings: MarkdownHeading[];
}

const { post, headings } = Astro.props;

// Get previous and next posts
const posts = (await getCollection('blog')).sort(newestFirst);
const currentIndex = posts.findIndex((p) => p.id === post.id);
const previousPost = posts[currentIndex + 1];
const nextPost = posts[currentIndex - 1];

const metadata = {
	title: post.data.seoTitle ?? post.data.title,
	description: post.data.seoDescription ?? post.data.excerpt,
	image: {
		url: typeof post.data.cover === 'string' ? post.data.cover : post.data.cover.src,
		width: typeof post.data.cover === 'string' ? 1200 : post.data.cover.width,
		height: typeof post.data.cover === 'string' ? 630 : post.data.cover.height,
	},
	og: {
		type: 'article' as const,
		article: {
			publishedTime: post.data.datePublished.toISOString(),
			modifiedTime: post.data.datePublished.toISOString(),
			author: 'Jannik Wempe',
			section: 'Web Development',
		},
	},
};

const hasTweetEmbed = Boolean(post.body?.includes('<Tweet'));
---

<BaseLayout {metadata}>
	<Fragment slot="header">
		<BlogPostJsonLd {post} />
		<!-- Transforms basic Tweet embeds into interactive widgets -->
		<!-- see https://astro-embed.netlify.app/components/twitter/  -->
		{hasTweetEmbed && <script is:inline async src="https://platform.twitter.com/widgets.js" />}
	</Fragment>

	<TableOfContentsDrawer {headings} url={Astro.url.toString()} title={post.data.title} />

	<div class="container mx-auto py-8">
		<div class="flex gap-20">
			<!-- match prose max-w, otherwise image etc. may be wider (at least on Firefox) -->
			<main class="max-w-prose text-lg">
				<slot />
				<BlogPostNavigation {previousPost} {nextPost} />
			</main>
			<div class="relative hidden lg:block">
				<aside class="sticky top-24 flex max-h-[calc(100vh-8rem)] flex-col gap-8">
					<TableOfContents {headings} class="w-80" />
					<ShareButtons url={Astro.url.toString()} title={post.data.title} />
				</aside>
			</div>
		</div>
	</div>
</BaseLayout>
