---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import { getCollection, render } from 'astro:content';
import Prose from '~/components/Prose.astro';
import BlogPostLayout from '~/layouts/BlogPostLayout.astro';
import { formatDate } from '~/utils/time';

export const prerender = true;

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);

const formattedDatePublished = formatDate(post.data.datePublished);
---

<BlogPostLayout {post} {headings}>
	<Image
		transition:name={`cover-${post.data.slug}`}
		src={post.data.cover}
		alt={post.data.title}
		width={1000}
		height={525}
		loading="eager"
		class="mb-4 rounded-lg"
	/>
	<h1 transition:name={`title-${post.data.slug}`} class="text-3xl font-bold text-indigo-900">{post.data.title}</h1>
	{post.data.subtitle && <h2 class="mt-2 text-xl font-semibold text-indigo-900/70">{post.data.subtitle}</h2>}
	<div class="mt-2 flex items-center gap-2">
		<Icon name="lucide:calendar" class="text-slate-500" />
		<time class="block text-sm font-semibold text-slate-500">
			{formattedDatePublished}
		</time>
	</div>
	<Prose id="content" class="mt-8">
		<Content />
	</Prose>
</BlogPostLayout>

<script>
	function makeHeadingsClickable() {
		const content = document.getElementById('content');
		if (!content) return;

		const headings = content.querySelectorAll('h1, h2, h3, h4, h5, h6');
		headings.forEach((heading) => {
			heading.classList.add('cursor-pointer', 'hover:text-indigo-800');

			heading.addEventListener('click', () => {
				window.location.hash = heading.id;
			});
		});
	}

	document.addEventListener('astro:page-load', makeHeadingsClickable);
</script>
