---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import { Image, type ImgAttributes } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { twMerge } from 'tailwind-merge';
import { formatDate } from '~/utils/time';
import { render } from 'astro:content';

interface Props extends HTMLAttributes<'article'> {
	post: CollectionEntry<'blog'>;
	imageProps?: Omit<ImgAttributes, 'src' | 'alt' | 'width' | 'height' | 'class'>;
}

const { post, class: classes, imageProps, ...rest } = Astro.props;
const { title, excerpt, datePublished, cover, slug, tags } = post.data;
const formattedDate = formatDate(datePublished);

const { remarkPluginFrontmatter } = await render(post);
---

<article class={twMerge('relative', classes)} {...rest}>
	<div class="relative aspect-[1600/840] w-full">
		<a href={`/blog/${slug}`} class="block">
			<!-- Dimensions based two columns in a container -->
			<Image
				transition:name={`cover-${slug}`}
				src={cover}
				alt={title}
				width={650}
				height={303}
				format={cover.format !== 'gif' ? 'avif' : 'gif'}
				class="rounded-xl object-cover"
				{...imageProps}
			/>
		</a>
	</div>
	<div class="mt-4">
		{
			tags && tags.length > 0 && (
				<div class="mb-2 flex flex-wrap gap-2">
					{tags.map((tag: string) => (
						<a
							href={`/blog/tag/${tag}`}
							class="inline-flex items-center rounded-full bg-slate-100 px-2.5 py-0.5 text-xs font-medium text-slate-700 transition-colors hover:bg-slate-200 hover:text-indigo-700"
						>
							{tag}
						</a>
					))}
				</div>
			)
		}
		<a href={`/blog/${slug}`} class="block">
			<h2
				transition:name={`title-${slug}`}
				class="text-2xl font-bold text-slate-900 transition-colors hover:text-indigo-700"
			>
				{title}
			</h2>
		</a>
		<div class="mt-1 flex items-center gap-3">
			<div class="flex items-center gap-1 text-slate-600">
				<Icon name="lucide:calendar" class="h-4 w-4" />
				<time datetime={formattedDate} class="block text-sm font-semibold">
					{formattedDate}
				</time>
			</div>
			<div class="flex items-center gap-1 text-slate-600">
				<Icon name="lucide:clock" class="h-4 w-4" />
				<span class="text-sm font-semibold">
					{remarkPluginFrontmatter.readingTime.text}
				</span>
			</div>
		</div>
		<p class="mt-2 line-clamp-3 text-slate-700">{excerpt}</p>
	</div>
</article>
