---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import { Image, type ImgAttributes } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { twMerge } from 'tailwind-merge';
import { formatDate } from '~/utils/time';
import { getCoverImageSrc } from '~/utils/image';

interface Props extends HTMLAttributes<'article'> {
	post: CollectionEntry<'blog'>;
	imageProps?: Omit<ImgAttributes, 'src' | 'alt' | 'width' | 'height' | 'class'>;
}

const { post, class: classes, imageProps, ...rest } = Astro.props;
const { title, excerpt, datePublished, cover, slug } = post.data;

const formattedDate = formatDate(datePublished);
---

<article class={twMerge('relative', classes)} {...rest}>
	<div class="relative aspect-[1600/840] w-full">
		<Image
			transition:name={`cover-${slug}`}
			src={getCoverImageSrc(cover)}
			alt={title}
			width={1600}
			height={840}
			class="rounded-xl object-cover"
			{...imageProps}
		/>
	</div>
	<div class="mt-4">
		<h2 transition:name={`title-${slug}`} class="text-2xl font-bold text-slate-900">{title}</h2>
		<div class="mt-1 flex items-center gap-2 text-slate-600">
			<Icon name="lucide:calendar" class="h-4 w-4" />
			<time datetime={formattedDate} class="block text-sm font-semibold">
				{formattedDate}
			</time>
		</div>
		<p class="mt-2 line-clamp-2 text-slate-700">{excerpt}</p>
	</div>
	<a href={`/blog/${slug}`} class="absolute inset-0">
		<span class="sr-only">Read more about {title}</span>
	</a>
</article>
