---
import { twMerge } from 'tailwind-merge';
import { BLUESKY_URL, EMAIL, GITHUB_URL, LINKEDIN_URL, X_URL } from '~/constants/socials';
import SocialLink from '~/components/ui/SocialLink.astro';

interface Props {
	class?: string;
}

const { class: classes } = Astro.props;
---

<div class={twMerge('flex items-center gap-5', classes)}>
	<SocialLink href={X_URL} target="_blank" rel="noopener noreferrer" icon="twitter-x" label="Twitter/X Profile" analyticsType="x" />
	<SocialLink href={BLUESKY_URL} target="_blank" rel="noopener noreferrer" icon="bluesky" label="Bluesky Profile" analyticsType="bluesky" />
	<SocialLink href={LINKEDIN_URL} target="_blank" rel="noopener noreferrer" icon="lucide:linkedin" label="LinkedIn Profile" analyticsType="linkedin" />
	<SocialLink href={GITHUB_URL} target="_blank" rel="noopener noreferrer" icon="lucide:github" label="GitHub Profile" analyticsType="github" />
	<SocialLink href={`mailto:${EMAIL}`} icon="lucide:mail" label="Email Contact" analyticsType="email" />
</div>
