---
import { Icon } from 'astro-icon/components';

import { config } from '~/constants/config';
---

<div class="fixed inset-x-0 top-0 mx-auto flex w-full items-center sm:container sm:items-end">
	<div
		class="group z-50 flex w-full justify-center gap-5 border-b border-l border-r bg-white/90 px-5 py-3 shadow-lg backdrop-blur-md sm:ml-auto sm:w-auto sm:justify-normal sm:rounded-b-lg"
	>
		<div class="flex items-center gap-1">
			<span class="text-md font-medium">Connect</span>
			<Icon name="lucide:arrow-right" class="h-4 w-4 transition-transform group-hover:translate-x-1" />
		</div>
		<div class="flex items-center gap-5">
			<a
				href={config.social.x}
				target="_blank"
				rel="noopener noreferrer"
				class="plausible-event-name=contact+x plausible-event-name=contact text-slate-600 transition-colors hover:text-slate-800"
			>
				<Icon name="twitter-x" class="h-6 w-6" />
				<span class="sr-only">Twitter/X Profile</span>
			</a>

			<a
				href={config.social.bluesky}
				target="_blank"
				rel="noopener noreferrer"
				class="plausible-event-name=contact+bluesky plausible-event-name=contact text-slate-600 transition-colors hover:text-slate-800"
			>
				<Icon name="bluesky" class="h-6 w-6" />
				<span class="sr-only">Bluesky Profile</span>
			</a>

			<a
				href={config.social.linkedin}
				target="_blank"
				rel="noopener noreferrer"
				class="plausible-event-name=contact+linkedin plausible-event-name=contact text-slate-600 transition-colors hover:text-slate-800"
			>
				<Icon name="lucide:linkedin" class="h-6 w-6" />
				<span class="sr-only">LinkedIn Profile</span>
			</a>

			<a
				href={config.social.github}
				target="_blank"
				rel="noopener noreferrer"
				class="plausible-event-name=contact+github plausible-event-name=contact text-slate-600 transition-colors hover:text-slate-800"
			>
				<Icon name="lucide:github" class="h-6 w-6" />
				<span class="sr-only">GitHub Profile</span>
			</a>

			<a
				href={config.social.hashnode}
				target="_blank"
				rel="noopener noreferrer"
				class="plausible-event-name=contact+hashnode plausible-event-name=contact text-slate-600 transition-colors hover:text-slate-800"
			>
				<Icon name="hashnode" class="h-6 w-6" />
				<span class="sr-only">Hashnode Blog</span>
			</a>

			<a
				href={`mailto:${config.social.email}`}
				class="plausible-event-name=contact+email plausible-event-name=contact text-slate-600 transition-colors hover:text-slate-800"
			>
				<Icon name="lucide:mail" class="h-6 w-6" />
				<span class="sr-only">Email Contact</span>
			</a>
		</div>
	</div>
</div>
